body{

    /* Le header */
    header{
        .brand-logo{
            position: absolute;
            left: 4%;
            top: -40%;
            width: 13%;
        }

        .brand-logo img{
            width: 100%;
            height: auto;

        }

    }

    .center-align{
        font-size: 45px;
        margin-top: 35px;
        margin-bottom: 35px;
    }


    section{

        background-image: url(images/slider-1.jpg);
        background-repeat: no-repeat;
        background-size: 100%;    
        border-top: 1rem solid gray;
        border-bottom: 1rem solid gray;

       
        .row{

            .headimg{
                width: 290px;
            }
            .logo1{
                width: 100px;
            }
            .text{
                text-align: right;
            }
            .chariot{
                margin-top: -50px;
            }
            .word{
                width: 140px;
            }
            .presta{
                width: 200px;
            }
            .text1{
                margin-top: 50px;
            }
            .text2{
                margin-top: -100px;
            }
        }
    }

    .titreexperience{

        background-color:yellow;
        margin-left: 160px;
        margin-right: 160px;
        font-size: 20px ;
    }
    
    .row-exp{
        padding: 30px;
        border:#d1d6d1 6px solid;
        margin-left: 60px;
        margin-right: 60px;
        margin-bottom: 30px;
        font-size: 15px ;
    }
    
        .titre_exp{
            text-transform: uppercase;
            font-weight: bold;
            font-size: 20px;
            color: black;
        }
        .exp{
            width: 100px;
            height: 100px;
        }


       


    // Footer

    footer{
        color:white;
        font-weight: bold;
        font-family: Roboto;
        padding-top: 15px;
        
    
        .titre{
            color: #5acb51;
            font-weight: bold;
            font-size: 18px;
            text-transform: uppercase;
            padding-bottom: 15px;
    
        }
        .nav-wrapper{
            display: flex;
            justify-content: center;
            background-color: #e3e4e5;
            color: black;
            }
    
    }
}

@import'~/node_modules/materialize-css/sass/materialize.scss';
